.App {
  display: flex;
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  display: flex;
  margin-left: 20px;
  width: 80%;
  vertical-align: top;
  flex-direction: column;
  justify-content: space-between;
}

#title{
  font-weight: bold;
}

#blogs{
  background-color: #ffffff;
  border-style: groove;
  display: flex;
}

#posted-by{
  font-size: 60%;
}

#button{
  width: 100px;
  border: none;
  background-color: #ffffff;
  text-decoration-line: underline;
}

p{
  margin: 0;
}

#signup-title{
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
}

#signup-button{
  color: #df5c05;
  border: none;
  width: 100px;
}

#signup{
  
  background-color: #df5c05;
  height: 310px;
}

#bvm{
  background-color: #253361;
  color: #ffffff;
}

#new-title{
  font-weight: bold;
}

.new-content{
  display: flex;
  margin-left: 20px;
  width: 80%;
  vertical-align: top;
  flex-direction: column;
  justify-content: space-between;
}

#new-button{
  width: 100px;
  border: none;
  background-color: #ffffff;
  text-decoration-line: underline;
}

#news{
  background-color: #ffffff;
  border-style: groove;
  display: flex;
}

#new-posted-by{
  font-size: 60%;
}